.orbeon .container, .orbeon .span12 { width: 95% }

.orbeon .fr-section-title {
  background-image: none;
  background-color: #FFFFFF;
}

.orbeon .xbl-fr-section .fr-section-title .fr-section-label a {
   font-size: large;
}

.orbeon .navbar-inverse  .navbar-inner {
  background-image: none;
  background-color: rgb(0, 105, 60);
}

.orbeon .navbar-inverse .navbar-inner .container h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: x-large;
}

.orbeon .btn-primary {
  background-color: rgb(0, 105, 60);
  background-image: none;
  font-weight: bold;
}